#gameContainer {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#grid {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between rows */
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px; /* Space between cells */
}

.cell {
  width: 50px; /* Width of each cell */
  height: 50px; /* Height of each cell */
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Adjust as needed */
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.correct {
  background-color: rgb(75, 164, 75);
  color: white;
}

.present {
  background-color: #c9a33c;
  color: white;
}

.incorrect {
  background-color: rgb(99, 94, 94);
  color: white;
}

#inputArea {
  margin-top: 20px;
}

#userInput {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#submitGuess {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#gameMessage {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  /* Add more styling as needed */
}
#keyboard {
  margin-top: 20px;
  text-align: center;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.key {
  padding: 5px 10px;
  margin: 0 3px;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  /* Add more styling as needed */
}

/* Add classes for different letter statuses: correct, present, incorrect */
.correct {
  background-color: rgb(75, 164, 75);
}
.present {
  background-color: #c9a33c;
}
.incorrect {
  background-color: rgb(99, 94, 94);
}

/* animation stuff */
/* Front and back face styling */
.cell .front,
.cell .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hide the back side of the flipped tile */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  backface-visibility: hidden;
}

.cell .back {
  transform: rotateX(180deg);
}

.flip {
  transition: transform 0.33s;
  transform: rotateX(180deg);
}
